<!DOCTYPE html>
<html xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml" lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<script type="text/javascript" src="../static/ZoomifyImageViewerEnterprise-3viewer.js"></script>
		<!-- <style type="text/css"> #myContainer {width:100%; height:90%; margin:auto; border:1px; border-style:solid; border-color:#696969;}</style> -->
			<style type="text/css"> #myContainer {  width:100%; height:770px;  border-style:solid; } </style>
		<script type="text/javascript">

                Z.showImage("myContainer", null, "zComparisonPath=../static/SlideAssets/Comparison/P1Kidney.xml&zSkinPath=../static/Assets/Skins/Default&zNavigatorFit=-1&zRotationVisible=1&zLogoCustomPath=../static/Assets/LogoCustom/58670430.png");

		</script>
	</head>

	<body>

       	<br>
		<div id="myContainer"></div>
		<br>


	</body>

</html>